# TD Lab ML Championship!
## Loading the Data
Firstly, I've loaded in the traingingdata for you to a variable called df. I've then split the input data to variable X, and the target predictions to variable y!

To score your model, you'll want to minimize the root mean squared error with the function I created. (A lower number is better) It can be used as follows:
```
rmse(predicitons, y_true)
```

In [10]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

def rmse(y_pred, y_true):
    return np.sqrt(mean_squared_error(y_pred,y_true))

df = pd.read_csv("housing_data.csv")

y = df.house_price
X = df.drop(["house_price"], axis=1)

df.head() #Hint, remember that the date is in string format

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_price
0,5467910190,20140527T000000,3,1.75,1780,13095,1.0,0,0,4,...,1780,0,1983,0,98042,47.3670,-122.152,2750,13095,325000.0
1,9331800580,20150310T000000,2,1.00,1000,3700,1.0,0,0,3,...,800,200,1929,0,98118,47.5520,-122.290,1270,5000,257000.0
2,2407000405,20150226T000000,3,1.00,1080,7486,1.5,0,0,3,...,990,90,1942,0,98146,47.4838,-122.335,1170,7800,228500.0
3,5466700290,20150108T000000,3,2.25,2090,7500,1.0,0,0,4,...,1280,810,1977,0,98031,47.3951,-122.172,1800,7350,288000.0
4,3026059361,20150417T000000,2,2.50,1741,1439,2.0,0,0,3,...,1446,295,2007,0,98034,47.7043,-122.209,2090,10454,479000.0

In [ ]:
# Add in your own model code in this area and feel free to add cells

# Submission Time
I've loaded in the data to a variable called test set, you must then perform any pre-processing you did on your training data to this set, then perform a prediction with your top model. Afterwards, you can go submit your score here to see your place on the leaderboard!

In [6]:
test = pd.read_csv("housing_test_set.csv")

test.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2591820310,20141006T000000,4,2.25,2070,8893,2.0,0,0,4,8,2070,0,1986,0,98058,47.4388,-122.162,2390,7700
1,7974200820,20140821T000000,5,3.00,2900,6730,1.0,0,0,5,8,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283
2,7701450110,20140815T000000,4,2.50,3770,10893,2.0,0,2,3,11,3770,0,1997,0,98006,47.5646,-122.129,3710,9685
3,9522300010,20150331T000000,3,3.50,4560,14608,2.0,0,2,3,12,4560,0,1990,0,98034,47.6995,-122.228,4050,14226
4,9510861140,20140714T000000,3,2.50,2550,5376,2.0,0,0,3,9,2550,0,2004,0,98052,47.6647,-122.083,2250,4050

In [7]:
# Do your code and preprocessing inbetwee, this, and the prediction saver

In [ ]:
submission = pd.DataFrame()
submission["pred"] = list() #set preds to your predictions (put them in the lists brackets)

pred_size = len(submission.pred)

if pred_size == 4323:
    # Afterwards, submit this prediciton file to the site
    submission.to_csv("predictions.csv", index=None)
else:
    print("Sorry, you need to have 4323 predictions!")